{% extends "template.html" %}
    <!--=================================
 intro bg -->
{% block body %}

    <div class="inner-intro parallax bg-overlay-black-70" style="background-image: url(../statics/images/custom/About_pg.JPG);">
        <div class="container">
            <div class=" text-center intro-title">
             <div class="col-sm-12">
              <h1 class="text-orange" style="font-weight:bold;font-size:75px !important;"> Our Story </h1>
              {% comment %} <p class="text-white">We Know The Secret Of Your Success   </p> {% endcomment %}
              <ul class="page-breadcrumb" style="padding-top:7rem">
                <li><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span>Our Story  </span></li>
              </ul>
             </div>
            </div>
          </div>
    </div>

    <!--=================================
 intro bg -->

    <!--=================================
 about -->

    <section class="about white-bg page-section-ptb">
        <div class="container">
            <div class="row">
                <h1 style="font-size:4rem;font-weight:bold"><span class="text-orange mb-20">OUR</span> STORY</h1>
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <div class="custom-content">
                        <p style="font-size:20px">Growing up in Bombay (present day Mumbai) in the early 80s and having a native place in Goa
                            where most part of the summer vacation were spent, the love for Bombay and Goan food was
                            always there.  The lip‐smacking street food of Bombay, the most famous yet humble Vada Pav (hot
                            vada tucked in the soft bread )  Pav Bhaji,  Misal Pav, Bombay Sandwich not to forget the Indo
                            Chinese food – Chicken Lollipop deliciously mouth watering crispy and coated in Schezuan sauce,
                            Hakka Noodles and variety of fried rice</p>

                            <p style="font-size:20px">Goa was full of fun and frolic, swaying coconut trees, beautiful beaches and music, the food was
                                completely different to that of Bombay.  The fusion of Indian and Portuguese flavors resulted in a
                                distinct culinary style characterized by the use of spices like turmeric, coriander, and chilli. Goan Fish
                                Curry evolved as a testament to this cultural amalgamation, and has become an integral part of
                                Goan identity   West met East on the shores of Goa. Goa is a perfect amalgamation of Indo‐
                                Portuguese culture.</p>
                            <p style="font-size:20px">Goan fish curry or the Xitti Kodi is the staple diet of every Goan making it a famous food of Goa.
                                Another Portuguese influenced famous Goan food is Chicken Xacuti consists of poppy seeds,
                                coconut, onions, Kashmiri chillies and other spices. Kashmiri chillies are specifically used as they
                                give intense hot flavour and also give colour to the dish. Cafreal chicken is a spicy green coloured
                                dish that will leave your mouth watering. Grinding green chillies, herbs and various spices
                                together to make the masala for the chicken. Then, the chicken is  marinated with this masala
                                and fried. Of course there are other dishes like the Pork Vindaloo, Sorpotel, Crab Xacuti, Fish
                                Recheado, Sannas, Goan Sausages and many more.</p>
                            <p style="font-size:20px">In early 2000 when I moved to England, I missed the food that I was enjoying and although tried
                                out various food in the restaurants couldn’t find one which would satisfy my appetite.  Being
                                passionate about food, decided to bring the flavours of Bombay and Goa together in one place
                                and that’s when <span class="text-orange">Bombay2Goa</span> was born.</p>
                            <p style="font-size:20px"><span class="text-orange">Bombay2Goa</span> will bring to you all these authentic food and flavours right from our kitchen to
                                your table.</p>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 " >
                    <div class="owl-carousel" data-nav-dots="false" data-nav-arrow="true" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1">
                        <div class="item">
                            <img class="img-fluid center-block" src="../statics/images/about/about-img.jpg" alt="">
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
 about -->

    <!--=================================
 Our activities -->

    <section class="our-activities page-section-pb">
        <div class="container">
            <div class="row">
              
                <div class="col-lg-12 col-md-6 col-sm-12 mt-4 mt-md-0">
                    <h1 style="font-size:4rem;font-weight:bold"><span class="text-orange mb-20">WHY</span> CHOOSE US</h1>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item acd-group">
                            <div class="accordion-header" id="headingOne">
                                <a href="#" class="collapsed acd-heading"style="font-size:20px" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Authentic Indian Flavors:
                                </a>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                  <p style="font-size:20px">  Experience a culinary masterpiece with each dish meticulously crafted by our talented chefs. Our commitment to excellence extends beyond the taste, as we strive to present every plate as a work of art. Whether you're indulging in our delectable tandoori dishes or savoring the subtle nuances of our biryanis, each bite is a testament to our dedication to culinary craftsmanship. Expect a dining experience that not only satisfies your appetite but also elevates your appreciation for the artistry behind Indian cuisine.              
                                </p>
                            </div>
                            </div>
                        </div>


                        <div class="accordion-item acd-group">
                            <div class="accordion-header" id="headingTwo">
                                <a href="#" class="collapsed acd-heading"style="font-size:20px" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Warm Hospitality and Elegant Ambiance:
                                </a>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p style="font-size:20px">  At <span class="text-orange">Bombay2Goa</span>, we believe that exceptional dining goes beyond just the food. Our warm and welcoming atmosphere, coupled with attentive service, creates an inviting environment for you to relax and relish your dining experience. Immerse yourself in the vibrant colors and elegant decor that complement the richness of our Indian dishes. Whether you're here for a casual meal or a special celebration, our commitment to hospitality ensures that every visit is a memorable occasion.
                                    </p>
                                    </div>
                            
                                    </div>
                        </div>
                        <div class="accordion-item acd-group">
                            <div class="accordion-header" id="headingThree">
                                <a href="#" class="collapsed acd-heading"style="font-size:20px" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Exquisite Culinary Craftsmanship:
                                </a>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <p style="font-size:20px">   At <span class="text-orange">Bombay2Goa</span>, we take pride in offering an authentic taste of India right here in the heart of the UK. Our skilled chefs bring the rich and diverse flavors of Indian cuisine to your table, using traditional recipes and the finest ingredients. From aromatic spices to mouth-watering curries, every dish reflects the true essence of India, providing a culinary journey that transports you to the streets of Delhi or the beaches of Goa.
                                    </p>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
our activities -->

    <!--=================================
counter -->

    <section class="parallax bg-overlay-black-80 page-section-ptb counter" style="background-image: url(images/bg/07.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="counter-block">
                        <span class="glyph-icon flaticon-lemonade-with-straw text-white" aria-hidden="true"></span>
                        {% comment %} <span class="timer text-white" data-to="3968" data-speed="10000">3968</span> {% endcomment %}
                        <h5 class="text-white"><span class="text-orange">Beverages</span> </h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="counter-block">
                        <span class="glyph-icon flaticon-food-66 text-white" aria-hidden="true"></span>
                        {% comment %} <span class="timer text-white" data-to="5568" data-speed="10000">5568</span> {% endcomment %}
                        <h5 class="text-white"><span class="text-orange">Delicious</span> Food</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="counter-block mb-5 mb-sm-0">
                        <span class="glyph-icon flaticon-food text-white" aria-hidden="true"></span>
                        {% comment %} <span class="timer text-white" data-to="8908" data-speed="10000">8908</span> {% endcomment %}
                        <h5 class="text-white"><span class="text-orange">Talented</span> chefs</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="counter-block last mb-0">
                        <span class="glyph-icon flaticon-hot-mug-doodle text-white" aria-hidden="true"></span>
                        {% comment %} <span class="timer text-white" data-to="9968" data-speed="10000">9968</span> {% endcomment %}
                        <h5 class="text-white"><span class="text-orange">Great</span> Ambience</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=================================
counter -->

    <!--=================================
  our team -->
{% comment %} 
    <section class="our-team white-bg page-section-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <div class="title-separator">
                            <i class="glyph-icon flaticon-food-27"></i>
                        </div>
                        <h2> <span class="text-orange">Our</span> Team</h2>
                        <p>List of people who matter in Bombay2Goa</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="owl-carousel" data-items="3" data-md-items="3" data-sm-items="2">
                        <div class="item">
                            <div class="team">
                                <div class="team-images">
                                    <img class="img-fluid center-block" src="../statics/images/team/05.png" alt="">
                                </div>
                                <div class="team-content">
                                    <div class="team-description">
                                        <h6>Alice Williams</h6>
                                        <span>Cook</span>
                                    </div>
                                    <div class="team-social">
                                        <ul>
                                            <li>
                                                <a href="#"> <i class="fa fa-facebook"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-twitter"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                                            </li>
                                            <li>
                                                <a href="#"> <i class="fa fa-dribbble"></i> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-images">
                                <img class="img-fluid center-block" src="../statics/images/team/06.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class="team-description">
                                    <h6>Martin Smith</h6>
                                    <span>Su chef</span>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-images">
                                <img class="img-fluid center-block" src="../statics/images/team/07.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class="team-description">
                                    <h6>Paul Flavius</h6>
                                    <span>Head waiter</span>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-images">
                                <img class="img-fluid center-block" src="../statics/images/team/08.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class="team-description">
                                    <h6>Michael Bean</h6>
                                    <span>Head chef</span>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="team">
                            <div class="team-images">
                                <img class="img-fluid center-block" src="../statics/images/team/05.png" alt="">
                            </div>
                            <div class="team-content">
                                <div class="team-description">
                                    <h6>Sara Lisbon</h6>
                                    <span>Chef de partie</span>
                                </div>
                                <div class="team-social">
                                    <ul>
                                        <li>
                                            <a href="#"> <i class="fa fa-facebook"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-twitter"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-pinterest-p"></i> </a>
                                        </li>
                                        <li>
                                            <a href="#"> <i class="fa fa-dribbble"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> {% endcomment %}

    <!--=================================
  our team -->

    <!--=================================
  footer -->
{% endblock body %}
